@{
    ViewBag.Title = "ChangePassword";
}

@*ChangePassword*@

<div>
    @ViewBag.message
</div>

@using (Html.BeginForm())
{
    <div class="jumbotron text-center" style="display: inline-block; margin-top:100px">
        <div class="input-group mb-3">
            <label id="Label1" class=" input-group-text input-group-prepend">Old Password</label>
            @Html.Editor("oldPassword")
        </div>
        <div class="input-group mb-3">
            <label id="Label1" class=" input-group-text input-group-prepend">New Password</label>
            @Html.Editor("newPassword1")
        </div>
        <div class="input-group mb-3">
            <label id="Label1" class=" input-group-text input-group-prepend">Confirm Password</label>
            @Html.Editor("newPassword2")
        </div>
        <div><button id="submit" class="btn btn-outline-success">Submit</button></div>

    </div>
}