@model BusinessLayer.Account

@{
    ViewBag.Title = "Withdraw";
}

@using (Html.BeginForm())
{
    <div class="jumbotron bg-light text-dark">
        <div>
            <h1><label id="Label1">Withdraw</label></h1>
        </div>
        <table>
            <tr>
                <td>
                    <label id="Label2" class="col-form-label">Source Account No</label>
                </td>
                <td>
                    <input type="text" name="accountNumber" id="accountNumber" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label id="Label4" class="col-form-label">Amount</label>
                </td>
                <td>
                    
                    <input type="text" name="accountBalance" id="accountBalance" class="form-control" />
                </td>
            </tr>
        </table>
        <div>
            <input type="submit" class="btn btn-outline-success" value="Transfer" />
        </div>
        <label id="Label6"></label>
        <div>
            @ViewBag.result
        </div>

    </div>
}
